#main-container {
    height: 100%;
    width: 100%;
    padding: 0;
}

#main-editor-container,
#result-container {
    height: 50%;
    width: 100%;
}

.editor-container {
    height: 100%;
    width: 100%;
}

.container-card {
    margin: 0;
    height: 100%;
    width: 100%;
}

.card-content-fill {
    --card-header-height: 48.67px;

    height: calc(100% - var(--card-header-height));
    width: 100%;
    padding: 0 !important;
}

#result-view {
    width: 100%;
    height: 100%;
}